.corner {
  $corner-gap: -1;

  position: absolute;

  width: 0.875rem;
  height: 0.875rem;

  border: 1px solid $gallery;

  border-right: 0;
  border-bottom: 0;

  transform: rotate(var(--rotate));

  &.-top-left {
    --rotate: 0deg;

    top: $corner-gap;
    left: $corner-gap;
  }

  &.-top-right {
    --rotate: 90deg;

    top: $corner-gap;
    right: $corner-gap;
  }

  &.-bottom-right {
    --rotate: 180deg;

    bottom: $corner-gap;
    right: $corner-gap;
  }

  &.-bottom-left {
    --rotate: 270deg;

    bottom: $corner-gap;
    left: $corner-gap;
  }
}

.point {
  $point-gap: -3px;

  position: absolute;

  width: 5px;
  height: 5px;

  background-color: $gallery;

  &.-top-left {
    top: $point-gap;
    left: $point-gap;
  }

  &.-top-right {
    top: $point-gap;
    right: $point-gap;
  }

  &.-bottom-right {
    bottom: $point-gap;
    right: $point-gap;
  }

  &.-bottom-left {
    bottom: $point-gap;
    left: $point-gap;
  }
}

.divider {
  $divider-offset: 25rem;

  z-index: -1;
  position: absolute;
  top: 0;

  height: 100%;
  width: calc(100% + $divider-offset * 2);
  transform: translateX(-$divider-offset) skewX(45deg);

  background: repeating-linear-gradient(
    90deg,
    mix($black, $gallery, 92%),
    mix($black, $gallery, 92%) 4px,
    $black 4px,
    $black 10px
  );

  &::before,
  &::after {
    content: '';

    position: absolute;
    top: 0;

    display: block;
    height: inherit;
    width: $divider-offset;

    background: linear-gradient(var(--degree), transparent 0%, $black 100%);
  }

  &::before {
    --degree: -90deg;
    left: 0;
  }

  &::after {
    --degree: 90deg;
    right: 0;
  }
}
