.search-box {
  $this: &;
  @extend %box-model;

  overflow: hidden;

  display: flex;
  align-items: center;

  margin: auto;
  padding: 0;

  width: min(100%, 500px);

  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);

  &:has(input:valid) {
    #{$this}__button {
      opacity: 1;
    }
  }

  &__input,
  &__button {
    color: inherit;
    outline: none;
    border: none;
    background-color: transparent;
  }

  &__input {
    flex-grow: 1;
    padding: 0.8rem 0 0.8rem 1.5rem;
  }

  &__button {
    opacity: 0.5;

    padding: 0 1rem 0;
    cursor: pointer;
  }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}
