.search-box {
  $this: &;

  overflow: hidden;
  position: relative;

  display: flex;
  align-items: stretch;

  margin: auto;

  width: min(100%, 500px);
  border-radius: $border-radius;

  background-color: rgba(mix($black, $gallery, 95%), 0.7);

  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);

  border: 1px solid rgba($gallery, 0.1);
  border-bottom-color: rgba($gallery, 0.3);

  box-shadow: 0px 2.5px 2.3px rgba($gallery, 0.039),
    0px 5.9px 6.6px rgba($gallery, 0.056),
    0px 10.6px 13.6px rgba($gallery, 0.069),
    0px 17.7px 24.9px rgba($gallery, 0.081),
    0px 29.1px 43.9px rgba($gallery, 0.094),
    0px 50.9px 78.5px rgba($gallery, 0.111),
    0px 110px 165px rgba($gallery, 0.15);

  &__protocol {
    display: none;

    padding: 0.8rem 1.5rem;

    white-space: nowrap;
    background-color: rgba($gallery, 0.1);

    @include mq(sm) {
      display: block;
    }
  }

  &__input {
    flex-grow: 1;

    padding: 0.8rem 0 0.8rem 1.5rem;

    color: inherit;
    outline: none;
    border: 0;

    background-color: transparent;

    &:valid {
      + #{$this}__button {
        opacity: 1;
      }
    }
  }

  &__button {
    opacity: 0.5;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 1rem 0;

    color: inherit;
    background-color: transparent;

    border: none;
    cursor: pointer;

    transition: opacity 150ms ease-in-out;
  }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}
