*,
::before,
::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

:where(html) {
  scroll-behavior: smooth;
  line-height: 1.5;
  overflow-wrap: break-word;

  -webkit-tap-highlight-color: hsla(0, 0%, 0%, 0);
  -webkit-tap-highlight-color: transparent;
}

:where(body) {
  margin: 0;
  overflow-x: hidden;
}

:where(h1, h2, h3) {
  margin: 0;
  padding: 0;
}

:where(img, picture, svg) {
  display: block;
  max-width: 100%;
}

::placeholder {
  color: inherit;
  opacity: 0.54;
}

:where(button, input) {
  font: inherit;
}

[hidden] {
  display: none !important;
}
