html {
  font-family: $root-font-family;
  font-size: $root-font-size--mobile;

  color: rgba($gallery, 0.7);

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  @include mq(lg) {
    font-size: $root-font-size;
  }
}

h1,
.display {
  text-wrap: balance;
}

h1,
h2,
h3 {
  margin: 1.5rem 0;
  font-weight: 700;
  line-height: 1;
}

.display {
  margin: 2rem 0;
  @include font-size(100px);
  color: $gallery;
}

h1 {
  @include font-size(70px);
}

h2 {
  @include font-size(50px);
}

h3 {
  @include font-size(32px);
}

p {
  margin: 1em 0;
  @include font-size(18px);
}

strong {
  color: $gallery;
}

.-color-purple {
  color: $purple-pizzazz;
  -webkit-text-fill-color: initial;
}

.-center {
  text-align: center;
}

.-balance {
  text-wrap: balance;
}

.-muted {
  opacity: 0.7;
}

::selection {
  background-color: rgba($purple-pizzazz, 0.7);
}
