html {
  font-family: $root-font-family;
  font-size: $root-font-size--mobile;

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  @include mq(lg) {
    font-size: $root-font-size;
  }
}

.display {
  text-wrap: balance;
  @extend %display-xl;
}
h1,
.heading-l {
  text-wrap: balance;
  @extend %display-l;
}
h2,
.heading-m {
  text-wrap: balance;
  @extend %display-m;
}
h3,
.heading-s {
  @extend %display-s;
}
h4,
.heading-xs {
  @extend %display-xs;
}

.text-l {
  @extend %text-l;
}
.text-m {
  @extend %text-m;
}

.-color-purple {
  color: $purple-pizzazz;
  -webkit-text-fill-color: initial;
}

.-text-gradient {
	background: $text-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  @extend %text-m;
}

.-muted {
  opacity: 0.7;
}

::selection {
  background-color: rgba($purple-pizzazz, 0.7);
  -webkit-text-fill-color: initial;
}
