/// Color pallette
$black: hsl(0, 0%, 0%) !default;
$gallery: hsl(0, 0%, 93%) !default;
$purple-pizzazz: rgb(255, 0, 221) !default;

/// Typography
/// @type string | list
$root-font-family: 'DM Sans', sans-serif !default;

/// @type stirng
$root-font-size: 16px !default;

/// @type stirng
/// @alias root-font-size
$root-font-size--mobile: 14px !default;

%display-xl {
  @include font-size(100px);
  line-height: 1;
  font-weight: 700;
}
%display-l {
  @include font-size(70px);
  line-height: 1;
  font-weight: 700;
}
%display-m {
  @include font-size(50px);
  font-weight: 700;
}
%display-s {
  @include font-size(32px);
  font-weight: 700;
}

%text-l {
  @include font-size(18px);
  font-weight: 400;
}
%text-m {
  @include font-size(18px);
  font-weight: 400;
}
