body {
  color: rgba($gallery, 0.7);
  background-color: $black;
}

main {
  @include padding(9rem 0 9rem);
  margin: auto;
  width: min(100% - 2rem, 55rem);

  border: 1px solid rgba($gallery, 0.15);
  border-bottom: 0;
  border-top: 0;
}

section {
  position: relative;
  @include padding(3rem);
}
