body {
	color: rgba($gallery, 0.7);
  background-color: $black;
}

[root] {
  @include padding(7rem 0 7rem);
}

main {
  margin: auto;
  width: min(100% - 6rem, 55rem);

  border: 1px solid rgba($gallery, 0.15);
  border-bottom: 0;
  border-top: 0;
}

section {
  position: relative;
  @include padding(3rem);
}
