:where(a) {
  text-decoration: underline;
}

:where(b, strong) {
  font-weight: bolder;
}

:where(figure) {
  margin: 0;
}

:where(figcaption) {
  font-size: 0.875rem;
  margin-top: 1rem;
  text-align: center;
}
