body {
  background-color: $black;
}

[root] {
  overflow: clip;
  display: flex;
  @include padding(7rem 0 7rem);
  min-height: 100dvh;
}

[app] {
  margin: auto;
  width: min(100% - 2rem, 55rem);

  border: $border;
  border-bottom: 0;
  border-top: 0;
}

section {
  z-index: 1;
  position: relative;
  @include padding(3rem);
}
