.counters {
  @extend %box-model;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @include margin-bottom(2rem);
  padding: 1.5rem;

  @include mq(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
