.counters {
  @extend %box-model;

  overflow: hidden;
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @include margin-bottom(2rem);
  padding: 1.5rem;

  &.-progress {
    &::after,
    &::before {
      opacity: 0.15;
    }
  }

  @include mq(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &::before,
  &::after {
    content: '';
    pointer-events: none;
    opacity: 0;

    position: absolute;
    inset: 0;

    transition: opacity 1s ease-in-out;
  }

  &::before {
    background-image: linear-gradient(
      90deg,
      rgba($soft-gallery, 0) 0,
      rgba($soft-gallery, 0.2) 20%,
      rgba($soft-gallery, 0.5) 50%,
      rgba($soft-gallery, 0)
    );
    transform: translateX(-100%) skewX(20deg);
    animation: shimmer 2s infinite linear;
  }

  &::after {
    width: 150%;

    background: repeating-linear-gradient(
      45deg,
      mix($black, $gallery, 92%),
      mix($black, $gallery, 92%) 4px,
      $black 4px,
      $black 10px
    );
    transform: translateX(0);
    animation: backLoop 3s infinite linear;
  }

  @keyframes shimmer {
    to {
      transform: translateX(100%) skewX(20deg);
    }
  }

  @keyframes backLoop {
    to {
      transform: translateX(-25%);
    }
  }
}
