/// Color pallette
$black: hsl(0, 0%, 0%) !default;
$gallery: hsl(0, 0%, 93%) !default;
$soft-gallery: rgba($gallery, 0.1) !default;
$purple-pizzazz: rgb(255, 0, 221) !default;

/// Typography
/// @type string | list
$root-font-family: 'DM Sans', sans-serif !default;

/// @type stirng
$root-font-size: 16px !default;

/// @type stirng
/// @alias root-font-size
$root-font-size--mobile: 14px !default;

/// @type stirng
$border-radius: 5px !default;
