$black: hsl(0, 0%, 0%) !default;
$gallery: hsl(0, 0%, 93%) !default;
$purple-pizzazz: rgb(255, 0, 221) !default;

$black-gallery: mix($black, $gallery, 90%) !default;
$soft-gallery: rgba($gallery, 0.15) !default;

$root-font-size: 16px !default;
$root-font-size--mobile: 14px !default;

$border: 1px solid $soft-gallery !default;
$border-radius: 5px !default;
