<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- İlk kural: api/* isteklerini api/server.js dosyasına yönlendir -->
        <rule name="API Rewrite">
          <match url="^api/.*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="api/server.js" />
        </rule>

        <!-- İkinci kural: api/* ile başlamayan tüm istekleri harici URL'ye yönlendir -->
         <!-- <rule name="External Redirect">
          <match url="^(?!api/).*" />
          <action type="Redirect" url="https://form-finder.vercel.app/{R:0}" />
        </rule>  -->
      </rules>
    </rewrite>

    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache" />
        <add name="X-Accel-Buffering" value="no" />
      </customHeaders>
    </httpProtocol>

    <iisnode
      nodeProcessCommandLine='"C:\Program Files\nodejs\node.exe"'
      node_env="production"
      flushResponse="true"
    />

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>